{% extends 'core/base.html' %}
{% load crispy_forms_tags %}{% block content %}
<!-- <div  class="card">
<div  class="card-body"> -->
<h1 class="font-mono font-bold text-3xl pb-5 pt-10">Please Enter New Pin</h1>
<hr>
<div class="w-full mt-10">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-wrap -mx-3 mb-6">
            <div>
            <!-- <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 text-center"> -->
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.password1.id_for_label }}">
                    <!-- {{ forms.password1.label }} -->
                    Pin
                </label>
                {{ forms.password1 }}
                {% if forms.password1.errors %}
                    {% for error in forms.password1.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <span id="pinValidate1" class="glyphicon glyphicon-lock form-control-feedback"></span>

            </div>
            <div>
            <!-- <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 text-center"> -->
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ forms.password2.id_for_label }}">
                    Confirm Pin
                    <!-- {{ forms.password2.label }} -->
                </label>
                {{ forms.password2 }}
                    {% if forms.password2.errors %}
                    {% for error in forms.password2.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <span id="pinValidate2" class="glyphicon glyphicon-lock form-control-feedback"></span>

            </div>
        </div>
        <!-- {{forms.as_p}} -->
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script>

    $( document ).ready(function() {
        $('#id_password1').attr('pattern','[0-9]*');
        $('#id_password1').attr('inputmode','numeric');
        $('#id_password1').attr('maxlength','4');
    });

    $( document ).ready(function() {
        $('#id_password2').attr('pattern','[0-9]*');
        $('#id_password2').attr('inputmode','numeric');
        $('#id_password2').attr('maxlength','4');
    });

    $(document).on('keypress','#id_password1, #id_password2',function(evt){
        if (evt.which < 48 || evt.which > 57) {
            evt.preventDefault();
            alert("Please enter valid Pin number.");
        }
    });

    $(document).on("submit", "form", function (e) {
        $('#pinValidate1').empty();
        $('#pinValidate2').empty();
        if ($.isNumeric($('#id_password1').val()) && ($.isNumeric($('#id_password1').val()))) {
            pin1 = $('#id_password1').val();
            pin2 = $('#id_password2').val();
            if (pin1.length < 4) {
                $('#pinValidate1').append('<p class="text-red-600 text-sm italic pb-2">Pin must be 4 digits.</p>')
                $('#pinValidate2').append('<p class="text-red-600 text-sm italic pb-2">Pin must be 4 digits.</p>')
                return false;
            } 
        }
    });

</script>
{% endblock javascript %}
